<div class="form-signUp">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form">

      <div><%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true %></div>

      <div><%= f.label :last_name %>
      <%= f.text_field :last_name, :autofocus => true %></div>
      
      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div><%= f.label "Confirm" %>
      <%= f.password_field :password_confirmation %></div>

+
      <div style="margin-top:20px;margin-bottom:10px">
        <div style="display:inline"><%= f.submit "Sign Up", class:"btn inlineb btn-primary" %></div>
      </div>
      <%= render "devise/shared/links" %>


    </div>



  <% end %>
</div>