<%- model_class = Summary -%>



<div class="container">
    <div class="row">
        <div class="col-md-12"> 
			     <%= render :partial=>@summary %> 

          <div class = "form-actions">
            <%= link_to 'List',
              reading_summaries_path(@reading), :class => 'btn'  %>
            <% if @summary.can_edit?(current_user.id) %>
              <%= render 'summary_action_forms', :summary => @summary, :project => @project %>
            <% end %>
          </div>

        </div>  
    </div>
</div>



<%
=begin %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              project_summarys_path(@project), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_summary_path(@summary), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              summary_path(@summary),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<%
=end %>
