<!-- Navigation bar -->
<header>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">        
            <ul class="nav navbar-nav pull-right">
                <li><%= link_to('Home',root_path )%> </li>
                <li><%= link_to "Profile",current_user.becomes(User)%></li>  
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name%> <%= current_user.last_name%>
                    <b class="caret" style="color:#ffffff"></b>
                </a>
                 <ul class="dropdown-menu">
                    <li><%= link_to('Profile Settings',edit_user_registration_path(profile: "true"), method: :get )%> </li>
                    <li><%= link_to('Security Settings',edit_user_registration_path, method: :get )%> </li>
                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </li>
                </ul>
                </li>
            </ul>            
            <form class="navbar-search" role="search" action="/search" method="get">
                <div class="input-group">
                    <%= select("search", "tag_id", Tag.all.collect {|p| [ p.title, p.id ] }, { include_blank: true }, {:multiple => true, :class => "search-select form-control input-groups"}) %>
                  <span class="input-group-btn searchBtn">
                    <button class="btn btn-default searchBtn" type="submit"><i class="icon-search inlineb searchPic"></i></button>
                  </span>
                </div>
            </form>
            <%= link_to "ReadUp", root_path, id: "logo"%>
        </div>
    </div>
</div>
</header>
