  <div id="user-contain">
    <div id="user-sidebar">
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <img src="<%=@user.avatar.url%>" align="center" id = "user-avatar"><br>
          </td>
        </tr>
      </table>
      <div class="user-headings">      about
      </div>
      <div class="user-blurb">
        <b>Name:</b> <%=@user.name%><br>
        <b>Major:</b> <%=@user.major%><br>
        <b>Graduation Year:</b> <%=@user.grad_year%><br>
      </div>
      <div class="user-headings">      Contact
      </div>
      <div class="user-blurb">
        <b>Email:</b><%=@user.email%><br>
        <b>linkedIn:</b> <%=@user.linkedIn%><br>
      </div>
    </div>
    <div id="user-main">
      <div id="user-header2" class ="Headings">
        <div id="user-name">
          <i style="color:#aaa">{</i>
          <%=@user.name%> 
        </div>
        <div class="user-blurb2">
          <!-- sub title -->
        </div>
      </div>
      <div class="user-headings2">

          
      </div>
      <div class="user-blurb3">
        <table class="table">
        </table>
      </div>  
    </div>
  </div>