<div class="form-forgot">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form">
      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div style="margin-top:20px"><%= f.submit "Send me reset password instructions", class:"btn inlineb btn-primary" %></div>
      <%= render "devise/shared/links" %>

    </div>
  <% end %>

</div>