<h1 class = "logo"> ReadUp </h1>
<h2 class = "subheading"> 
	Connect Alums and Students through educational readings.
	<br>
	Define and Support post graduation enlightenment.
</h2>

<div class="form-signIn">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    
    <div class="form">
      <div>
        <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "input-large" %>
      </div>
      <div>      
        <%= f.password_field :password, placeholder: "Password", class: "input-large" %>
      </div> 

      <div><%= f.submit "Sign In", class:"btn inlineb btn-primary form-btn" %></div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>


<div class = "homepage-stats">
	<div class = "stats_projects">
		<div class = "number">8563</div>
		<div class = "description">readings</div>
	</div>
	<div class = "stats_students">
		<div class = "number">2560</div>
		<div class = "description">students</div>
	</div>
	<div class = "stats_alums">
		<div class = "number">19234</div>
		<div class = "description">alums</div>
	</div>
</div>
