<!DOCTYPE html>
<html>
<head>
  <title>Uap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= csrf_meta_tags %>
        <!--used in order to pass user authentication in AJAX  calls-->
        <script> $(document).ajaxSend(function(e, xhr, options) {
            var token = $("meta[name='csrf-token']").attr("content");
            xhr.setRequestHeader("X-CSRF-Token", token);
        });
        </script>
        
</head>
<body>

  <!-- Navigation Bar -->
  <% if user_signed_in? %>
  <%= render 'partials/navbar' %>
  <% end%>
  <div class="container"style="height:100%">
  <!-- Notes to be displayed on sucess/failure events -->
  <div class="center">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  </div>
<%= yield %>

</body>
</html>
